.leftlinks a:link {
    border:4px solid plum; 
    padding:8px;
    margin:5px;
    background-color:pink; 
    text-align: center;
    text-decoration: none;
    }
    
.leftlinks a:visited {
    color: purple
    }

.leftlinks a:hover { 
    color: lightcoral; 
    background-color: peachpuff;
    }

.leftlinks a:active { 
    color:palevioletred; 
    background-color: whitesmoke;
        }
    